.menu {
    font-size: 20px;
font-style:oblique;
    cursor: pointer;
    padding: 20px;
    background-color: white;
    color: black;
    position: fixed;
    left: 10px;
    z-index: 2000;
border-radius: 10px 10px;
list-style: none;
    display: flex;
    padding: 20px;
    border-radius: 10px 10px;
}
/* Menu Lateral */
.background {
    position: fixed;
    top: 0;
    left: -250px; /* Fora da tela inicialmente */
    width: 160px;
    height: 500vh;
    background-color:white;
    transition: left 0.5s; /* Transição suave ao abrir/fechar */
    z-index: 1000;
    border-radius: 10px 10px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.close-btn {float: right;
    position: relative;right: 10px;top: 10px;
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}
.back-ground ul li a:hover {
    background-color: blueviolet;
    width: 130px;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px red;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: block;
    list-style-type: none;
    border-radius: 10px 10px;
    margin-bottom: 10px;
}
body{margin: auto;align-items: center;justify-content: center;text-align: center;background:linear-gradient(to left,white,orange,black);}
h1{font-size: 30px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: oblique;text-shadow: 6px;text-decoration: underline;color: white;}
h2{font-size: 20px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-style: initial;text-shadow: 6px;color: white;}
p{font-size: 15px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style: inherit;text-shadow: 6px;color: white;}
header{width: 300px;margin: auto;border-radius: 10px 10px;text-align: center;padding: 20px;justify-content: center;align-items: center;}
section{width: 300px;margin: auto;border-radius: 10px 10px;padding: 20px;text-align: center;justify-content: center;align-items: center;}
footer{width: 300px;border-radius: 10px 10px;margin: auto;text-align: center;padding: 20px;justify-content: center;align-items: center;}
summary{width: 230px;margin: auto;border-radius: 10px 10px;padding: 10px;text-align: 6px;}
dl{padding: 5px;}
dt{text-align: left;font-size: 20px;font-style: oblique;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-shadow: 6px;padding: 5px;}
dd{font-family: 'Times New Roman', Times, serif;font-style: inherit;text-shadow: 6px;text-align: left;padding: 5px;font-size: 15px;}
thead{font-size: 20px;font-style: oblique;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-shadow: 6px;text-align: left;}
tbody{font-size: 15px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-style: inherit;text-align: left;text-shadow: 6px;}
tfoot{font-size: 20px;text-align: left;font-family: 'Times New Roman', Times, serif;font-style: inherit;text-shadow: 6px;}
.summary:hover{transform: scale(1.05);transition: transform(0.9s);}
.background:hover{transform: scale(1.05);transition: transform(0.5s);}
.image:hover{transition: transform(1.05);transform: scale(1.01);}